.agePageText {
	font: normal 12px/12px "Georgia Pro", georgia, serif;
	position: fixed;
	z-index: 1000;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	bottom: 0;
	right: 0;
	pointer-events: none;
	color: rgba(38, 36, 34, 0.9);
	box-shadow: 0 1px 5px rgba(38, 36, 34, 0.5);
	background-color: rgba(227, 227, 227, 0.8);
}